<%- include('./partials/header.ejs') %>

<main>
  <div class="hero c-bg-dark">
    <h1 class="hero-title mb-4">
      <span class="euph">Euph</span>India
    </h1>
    <h2 class="hero-subtitle">
      Dress with Intention
    </h2>
    <a href="#shop" class="btn c-button-2 mt-3">SHOP NOW</a>
  </div>

  <div class="products" id="shop">
    <center><span class="title" id="latest">🔥 <span class="title c-ani-shine-primary">Latest Drops</span> 🔥</span></center>

    <div class="products-container">
        <% products.forEach(product => { %>
            <a href="/products/<%= product.id %>" class="product-card">
                <img src="<%= product.img %>" alt="Image of <%= product.name %>" class="image">
                <div class="w-100 h-100">
                    <h1 class="title"><%= product.name %></h1>
                    <p class="text"><%= product.intro %></p>
                </div>
                <p class="price"><strike>₹ <%= product.beforeprice %></strike> <%= product.price %></p>
            </a>
        <% }) %>
    </div>
</main>

<script>
  var customAnimation = () => {
    var element = document.getElementById("latest")
    // flicker
    element.style.opacity = 0;
    setTimeout(() => {
      element.style.opacity = 1;  
      setTimeout(() => {
        element.style.opacity = 0;   
        setTimeout(() => {
          element.style.opacity = 1;
        }, 200);
      }, 200);
    }, 200);
  }
</script>

<%- include('./partials/footer.ejs') %>