<%- include('./partials/header.ejs') %>
<main>
  <div class="products" id="shop">
    <center>
      <span class="title">
        Euph
        <span class="text-white">Drops</span>
      </span>
    </center>

    <div class="products-container">
      {{each products product}}
      <a href="/products/<%= product.id %>" class="product-card">
        <img src="<%= product.img %>" alt="Image of <%= product.name %>" class="image">
        <div class="w-100 h-100">
          <h1 class="title"><%= product.name %></h1>
          <p class="text"><%= product.intro %></p>
        </div>
        <p class="price"><strike>₹ <%= product.beforeprice %></strike> <%= product.price %></p>
      </a>
      {{/each}}
    </div>
  </div>
</main>

<script>
  var customAnimation = () => {
    var element = document.getElementById("latest")
    // flicker
    element.style.opacity = 0;
    setTimeout(() => {
      element.style.opacity = 1;
      setTimeout(() => {
        element.style.opacity = 0;
        setTimeout(() => {
          element.style.opacity = 1;
        }, 200);
      }, 200);
    }, 200);
  }
</script>
<%- include('./partials/footer.ejs') %>